.about{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-height: 600px;
    width: 100%;
    background-image: url('../../public/blue.png');
    background-size: cover;
    margin-top: 75px;
    font-size: large;
}

.about-me {
  margin: 20px;
}

.about-me > p {
  margin: 0;
}
.about-me > h2 {
  font-family: 'Beth Ellen';
  margin: 25px;
}

.about-me > img {
  height: 200px;
  width: auto;
  margin: 20px;
}

@media screen and (min-width: 800px) {
  .about {
    flex-direction: row;
    height: 350px;
  }

  .about-me {
    max-width: 640px;
    margin: 15px;
  }

  .about-me > img {
    height: 350px;
  }
}