.button > a > p {
  text-decoration: none;
  margin: 0;
}

#feed-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin:30px 10px;
}

#feed-info h2 {
  font-family: 'Beth Ellen';
  margin: 10px 10px 30px 10px;
}

#instabox a img {
  height: 50px;
  margin: 20px;
}

#feed-info > div {
height:fit-content;
margin: 10px;
}

.desktop {
  display: none;
}

@media screen and (min-width: 800px) {
  .desktop {
    display: inline;
  }

  .mobile {
    display:none
  }
}