#button-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 700px;
  width: 100%;
  background-image: url('../../public/yellow-paint.png');
  background-size: cover;
}

.info-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px;
}

.info-button > p {
  margin: 20px 40px;
}

#banner-image {
  height: 450px;
  width: fit-content;
}

#banner-image > img {
  height: 450px;
  width:auto
}

@media screen and (min-width: 800px) {
  #button-banner {
    flex-direction: row;
  }

  #banner-image {
    height: 700px;
  }
  
  #banner-image > img {
    height: 700px;
    margin-left: 100px;
  }
  
  button {
    max-width: 500px;
  }
}