#myCarousel {
  height: 400px;
  display: flex;
  justify-content: center;
}

.carousel-inner {
  height: 400px;
}

.img-frame {
  display: flex;
  align-items: center;
  justify-content: center;
}

img {
  margin: 10%;
  max-width: 700px;
  height: auto;
}

h2 {
  color: orange
}
