nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #035E7B;
  border-bottom: 3px solid #EDF6F9;
  margin-bottom: 4%;
  top: 0; 
  z-index: 1;
  width: 100%;
  height: 70px;
  position: fixed; 
}
