body {
  background-image: url('../public/background.png');
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height:100vh;
}

main {
  margin-top: 15px;
}

.app {
  text-align: center;
  color: #002E2C;
}

.bg-img {
  width: 100%;
}
